@model IEnumerable<APISEgundoPracticoAzureAPE.Model.Ticket>

@{
    ViewData["Title"] = "Tickets";
}

<h1>Tickets</h1>

<div>
    <a asp-controller="Empresa" asp-action="CreateTicket" class="btn btn-success">Nuevo Ticket</a>
    <form method="post">
        <label>TicketID: </label>
        <input type="number" name="id" class="form-control" />
        <button type="submit" class="btn btn-info">Ver Ticket</button>
    </form>
</div>

@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IdTicket)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdUsuario)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fecha)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Importe)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Producto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FileName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StoragePath)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdTicket)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdUsuario)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fecha)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Importe)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Producto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FileName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StoragePath)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

